.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(95, 95, 95);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    &_button{
        cursor: pointer;
        padding: 10px 25px;
        color: rgb(252, 252, 252);
        border-radius: 20px;
        border: 2px solid rgb(187, 187, 187);
    }
}